  <form method="POST" action="/productos">
  <div class="mb-3 m-6">
    <label for="exampleInputEmail1" class="form-label">Producto</label>
    <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Precio</label>
    <input type="number" class="form-control" name="price" id="exampleInputPassword1">
  </div>
  <button type="submit"  id="formu"  class="btn btn-primary">Submit</button>
</form>
    <script >
        let aver = document.getElementById('formu');
        aver.addEventListener('submit',(e)=>{
            e.preventDefault()
            let datos = e.target; 
            console.log(datos)
        })
    </script>
 